{{>navegacionContable}}

<div class=" border-dark">
    <div class="container">

    <table class="table table-dark" id="myTable">
        <thead>
            <tr class="table-dark">
                <th scope="col">Nombre del articulo</th>
                <th scope="col">Stock inicial</th>
                <th scope="col">Modificacion</th>
                <th scope="col">Stock final</th>
                <th scope="col">Nombre y apellido</th>
                <th scope="col">Fecha</th>
                <!-- Boton que despliegue una ventana con info del movimiento -->
            </tr>
        </thead>
            <tbody>
                    {{#each historial}}
                        
                     <tr class="">
                        <td> {{nombre_articulo}} </td>
                        <td> {{stock_inicial}} </td>
                        <td> {{modificacion}} </td>
                        <td> {{stock_final}} </td>
                        <td> {{nombre}} &nbsp; {{apellido}}  </td>
                        <td>  {{timeAgo fecha}} </td>

                        </tr>
                    {{/each}}
                </tbody>
        </table>
    </div>

           
    </div>
