{{>navegacion}}
<div id="contenedorPedidos" hidden>



  </div>

<div id="contenedorTarjetas">
<div class="row row-cols-1 row-cols-md-4">

  <div class="col" style="margin-bottom: 1rem;">
    <div class="card card-area">
      <div class="tarjeta">
        <div class="linea">
        <h5 class="card-title text-center text-light">Sistemas</h5>
        <span class="numerador">{{sistemas.length}}</span>
        </div>
        
      <img src="/img/iconos-areas/informatica.jpg" class="card-img-top" alt="...">
        <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" onclick="mostrarPedidos(1)">Revisar </button>
    </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-area">
      <div class="tarjeta">
        <div>
        <h5 class="card-title text-center text-light">Contable</h5>
        <span class="numerador">{{contable.length}}</span>
        </div>
        
      <img src="/img/iconos-areas/contables.jpg" class="card-img-top" alt="...">
        <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" onclick="mostrarPedidos(2)">Revisar</button>
    </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-area">
      <div class="tarjeta">
        <div>
        <h5 class="card-title text-center text-light">Tramite</h5>
        <span class="numerador">{{tramites.length}}</span>
        </div>
        
      <img src="/img/iconos-areas/tramites.jpg" class="card-img-top" alt="...">
        <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" onclick="mostrarPedidos(4)">Revisar</button>
    </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-area">
      <div class="tarjeta">
        <div>
        <h5 class="card-title text-center text-light">Archivo</h5>
        <span class="numerador">05</span>
        </div>
        
      <img src="/img/iconos-areas/archivo.jpg" class="card-img-top" alt="...">
        <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Revisar</button>
    </div>
      </div>
    </div>
  </div>

  <div class="col" >
    <div class="card card-area">
      <div class="tarjeta">
        <div>
        <h5 class="card-title text-center text-light">Legales</h5>
        <span class="numerador">{{legales.length}}</span>
        </div>
        
      <img src="/img/iconos-areas/legales.jpg" class="card-img-top" alt="...">
        <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" onclick="mostrarPedidos(3)">Revisar</button>
    </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-area">
      <div class="tarjeta">
        <div>
        <h5 class="card-title text-center text-light">Atencion al Publico</h5>
        <span class="numerador">05</span>
        </div>
        
      <img src="/img/iconos-areas/atencion.jpg" class="card-img-top" alt="...">
        <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Revisar</button>
    </div>
      </div>
    </div>
  </div>

</div>
</div>




  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Pedidos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="mensaje-modal">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

      {{!-- colocar X para cerrar la tabla 
      Cuando se presione en el boton revisar de cualquier area que se oculte el div donde se encuentran las tarjetas 
      hasta que se cierre la tabla --}}

<script>
const mostrarPedidos =(id_area)=>{
     
    let contenedor = document.getElementById("contenedorPedidos");
    let contenedorTarjetas = document.getElementById("contenedorTarjetas");
    
    

    if(contenedor.hidden){
        contenedor.hidden = false;
        contenedorTarjetas.hidden = true;

    }else{
        contenedor.hidden = true;
        contenedorTarjetas.hidden = false;
    }

     switch (id_area){
      case 1:
      contenedorPedidos.innerHTML +=
    
                    `  
                    <div id="tabla">

                    <button class="btn-cerrar" onclick="cerrarVentana()">Cerrar</button>
        <table class="table table-dark table-striped" >
        <thead>
          <tr>
          <th>Fecha</th>
          <th>Usuario</th>
          <th>Estado</th>
          </tr>
          </thead>

        
            <tbody>
            {{#each sistemas}}
                      <tr id="items">
          <td> {{timeAgo fecha_peticion}} </td>
          <td> {{nombre_articulo}} </td>
          <td> {{estado}} </td>
                      </tr>
            {{/each}}
          </tbody>  
      </table>
                    </div>
            `
      break;
      case 2:

{{!--     if ($('#contenedorPedidos').is(':empty')){ --}}
      contenedorPedidos.innerHTML +=
    
                    `  
                    <div id="tabla">

                    <button class="btn-cerrar" onclick="cerrarVentana()">Cerrar</button>
        <table class="table table-dark table-striped" >
        <thead>
          <tr>
          <th>Fecha</th>
          <th>Usuario</th>
          <th>Estado</th>
          </tr>
          </thead>

        
            <tbody>
            {{#each contable}}
                      <tr id="items">
          <td> {{timeAgo fecha_peticion}} </td>
          <td> {{nombre_articulo}} </td>
          <td> {{estado}} </td>
                      </tr>
            {{/each}}
          </tbody>  
      </table>
                    </div>
            `
    
      
      break;
      case 3:
      contenedorPedidos.innerHTML +=
    
                    `  
                    <div id="tabla">

                    <button class="btn-cerrar" onclick="cerrarVentana()">Cerrar</button>
        <table class="table table-dark table-striped" >
        <thead>
          <tr>
          <th>Fecha</th>
          <th>Usuario</th>
          <th>Estado</th>
          </tr>
          </thead>

        
            <tbody>
            {{#each legales}}
                      <tr id="items">
          <td> {{timeAgo fecha_peticion}} </td>
          <td> {{nombre_articulo}} </td>
          <td> {{estado}} </td>
                      </tr>
            {{/each}}
          </tbody>  
      </table>
                    </div>
            `
      break;
      case 4:
      break;
      case 5:
      break;
     }



}

const cerrarVentana =()=>{
    let contenedor = document.getElementById("contenedorPedidos");
    let contenedorTarjetas = document.getElementById("contenedorTarjetas");

      $("#tabla").remove();

      if(contenedor.hidden){
        contenedor.hidden = false;
        contenedorTarjetas.hidden = true;
        

        
    }else{
        contenedor.hidden = true;
        contenedorTarjetas.hidden = false;
       
    }
      
}
</script>