
{{>navegacion}}



<div class="m-4">
    <div class="row">
        {{!-- Contenedor de tabla --}}
        <div class="col table-resposive ms-3">
            <table id="myTable" class="table table-dark table-striped">
                <thead>
                    <tr class="bg-primary">

                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Sector</th>
                        <th scope="col">Punto de Reposicion</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>

                {{#each articulo}}

                <tr class="">
                    <th scope="row">{{id_articulo}}</th>
                    <td> {{nombre_articulo}} </td>
                    <td> {{nombre}} </td>
                    <td> {{cantidad}} </td>
                    <td> {{nombre_sector}} </td>
                    <td> {{punto_reposicion}} </td>
                    <td>
                        <input class="col-3" type="number" min="0" name="cantidad-agregar"
                            id="cantidad-agregar{{@key}}">
                        <a class="btn btn-sm btn-outline-succes text-light" id="boton-agregar"
                            onclick="addArticulos({{ @key }})">Agregar</a>

                    </td>

                </tr>
                {{/each}}

            </table>
        </div>


        {{!-- Contenedor de la lista --}}
        <div class="col-5 table-responsive pt-4 mt-5 me-3">
            <table class="table table-dark table-striped mt-2">
                <thead>
                    <tr class="table-dark ">

                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="contenido-tabla">
                    
                </tbody>

            </table>
            <form action="/reposicion" method="POST">
                <input type="hidden" value="" name="pedidos" id="pedidos">

                <button type="submit" id="btnConfirmar" onclick="confirmar()" hidden>Confirmar</button>
            </form>

        </div>
    </div>
</div>


<script>



    const arrArticulos = {{{ json articulo }}};
    var indice= 0;

    const pedidos = [];
    console.log(pedidos[0])
    const addArticulos = (key) => {


        const existente = pedidos.find((pedido) => {
            return pedido.id === arrArticulos[key].id_articulo;

        });

        if (existente === undefined) {

            const cantidad = document.getElementById('cantidad-agregar' + key).value;

            console.log(cantidad);

            indice++;

            if (indice == 0){
            let btnConfirmar= document.getElementById("btnConfirmar");                
            btnConfirmar.hidden = true;
            }else{
                btnConfirmar.hidden= false;
            }



            const pedido = {
                id: arrArticulos[key].id_articulo,
                nombre: arrArticulos[key].nombre_articulo,
                cantidad: cantidad
            };

            pedidos.push(pedido);
            console.log(pedidos)
            console.log(pedido.cantidad)
        } else {
            alert(`${arrArticulos[key].nombre_articulo} ya a sido añadido al pedido`)
        }

        const tabla = document.getElementById('contenido-tabla');
        tabla.innerHTML = '';

        for (let i = 0; i < pedidos.length; i++) {
            if (pedidos[i].id != undefined) {
                tabla.innerHTML +=
                    `  
            <tr id="tr-${i}">
                <td>${pedidos[i].id}</td>
                <td>${pedidos[i].nombre}</td>
                <td>${pedidos[i].cantidad}</td>
                <td><a class="btn btn-sm btn-outline-succes text-light" id="boton-borrar" 
                            onclick="borrarArticulos(${i})">Borrar</a></td>
            </tr>
            `

                    ;
            }
        };



    }

    const confirmar = () => {
        if (pedidos.length > 0) {
            const inputPedidos = document.getElementById('pedidos');
            inputPedidos.value = JSON.stringify(pedidos);





        } else {
            alert('Por favor seleccione un articulo')
        }
    }

    const borrarArticulos = (key) => {
        for (let i = 0; i < pedidos.length; i++) {
            if (i == key) {
                pedidos[i] = {};
                let node = document.getElementById("tr-" + i);
                node.parentNode.removeChild(node);

            indice--;

            if (indice == 0){
            let btnConfirmar= document.getElementById("btnConfirmar");                
            btnConfirmar.hidden = true;
            }else{
                btnConfirmar.hidden= false;
            }

            }
        }
    }

    
</script>