{{>navegacion}}
<div style="display: flex;">
    <div class="contenedorRes">
        {{!-- tarjeta --}}


<button class="btnRes" onclick="mostrarPedidos(1)">

        <div class="fondoTarjRes" id="fondoTar1">
            <div class="tarjetaRes" id="tar1">

            <div class="textCenter">
            <h3 class="textRes">Sistemas</h3>
            </div>

            </div>
        </div>
</button>


<button class="btnRes">
    
        <div class="fondoTarjRes" id="fondoTar2">
            <div class="tarjetaRes" id="tar2">

            <div class="textCenter">
            <h3 class="textRes">Contable</h3>
            </div>

            </div>
        </div>
</button>

<button class="btnRes">

        <div class="fondoTarjRes" id="fondoTar3">
            <div class="tarjetaRes" id="tar3">

            <div class="textCenter">
            <h3 class="textRes">Legales</h3>
            </div>

            </div>
        </div>
</button>

<button class="btnRes">

        <div class="fondoTarjRes" id="fondoTar4">
            <div class="tarjetaRes" id="tar4">

            <div class="textCenter">
            <h3 class="textRes">Tramites</h3>
            </div>

            </div>
        </div>
</button>

<button class="btnRes">

        <div class="fondoTarjRes" id="fondoTar5">
            <div class="tarjetaRes" id="tar5">

            <div class="textCenter">
            <h3 class="textRes">Atencion Al Publico</h3>
            </div>

            </div>
        </div>
</button>

<button class="btnRes">
    
        <div class="fondoTarjRes" id="fondoTar6">
            <div class="tarjetaRes" id="tar6">

            <div class="textCenter">
            <h3 class="textRes">Recursos Humanos</h3>
            </div>

            </div>
        </div>
</button>

<button class="btnRes">

        <div class="fondoTarjRes" id="fondoTar7">
            <div class="tarjetaRes" id="tar7">

            <div class="textCenter">
            <h3 class="textRes">Personal y Limpieza</h3>
            </div>

            </div>
        </div>
</button>
<button class="btnRes">
    
        <div class="fondoTarjRes" id="fondoTar8">
            <div class="tarjetaRes" id="tar8">

            <div class="textCenter">
            <h3 class="textRes">Logistica</h3>
            </div>

            </div>
        </div>
</button>

<button class="btnRes">
        <div class="fondoTarjRes" id="fondoTar9">
            <div class="tarjetaRes" id="tar9">

            <div class="textCenter">
            <h3 class="textRes">Niñez</h3>
            </div>

            </div>
        </div>
    
</button>

<button class="btnRes">
    
        <div class="fondoTarjRes" id="fondoTar10">
            <div class="tarjetaRes" id="tar10">

            <div class="textCenter">
            <h3 class="textRes">Relaciones Publicas</h3>
            </div>

            </div>
        </div>

</button>

<button class="btnRes">
    
        <div class="fondoTarjRes" id="fondoTar11">
            <div class="tarjetaRes" id="tar11">

            <div class="textCenter">
            <h3 class="textRes">Despacho</h3>
            </div>

            </div>
        </div>

    </div>
</button>


    <div class="contenedorItems">
        <table class="table table-dark table-striped">
            <thead>
                <th>ID</th>
                <th>Fecha</th>
                <th>Usuario</th>{{!-- Nombre y apellido --}}
                <th>Articulo</th>
                <th>Cantidad Autorizada</th>
                <th></th>
            </thead>
            <tbody id="contenidoTabla">

                 {{#each respuesta}}
                <tr>
                <td>{{id_articulo}}</td>
                <td>{{timeAgo fecha_peticion}}</td>
                <td>{{cantidad}}</td>
                <td>{{nombre_articulo}}</td>
                </tr>
                {{/each}} 
            </tbody>
        </table>

    </div>
</div>

<script>
 const mostrarPedidos= (area)=>{
    
    const tabla = document.getElementById("contenidoTabla");

    switch (area){
        case 1:
         contenidoTabla.innerHTML =
         `
        {{#each sistemas}}
                <tr>
                <td>{{id_articulo}}</td>
                <td>{{timeAgo fecha_peticion}}</td>
                <td>{{nombre}} {{apellido}}</td>
                <td>{{nombre_articulo}}</td>
                <td class="text-center">{{cantidad}}</td>
                <td><input type="checkbox" name="" id=""></td>
                </tr>
                {{/each}}`
        break;
        
        case 2:
        contenidoTabla.innerHTML =
         `
        {{#each sistemas}}
                <tr>
                <td>{{id_articulo}}</td>
                <td>{{timeAgo fecha_peticion}}</td>
                <td>{{nombre}} {{apellido}}</td>
                <td>{{nombre_articulo}}</td>
                <td>{{cantidad}}</td>
                </tr>
                {{/each}}`
        break;

        case 3:
        break;

        case 4:
        break;
        
        case 4:
        break;
        
        case 5:
        break;
        
        case 6:
        break;
        
        case 7:
        break;
        
        case 8:
        break;
        
        case 9:
        break;
        
        case 10:
        break;
        
        case 11:
        break;
        
    }

} 
</script>