<tbody>
                    {{#each historial}}
                        
                     <tr class="">
                        <td> {{nombre_articulo}} </td>
                        <td> {{stock_inicial}} </td>
                        <td> {{modificacion}} </td>
                        <td> {{stock_final}} </td>
                        <td> {{nombre}} &nbsp; {{apellido}}  </td>
                        <td>  {{fecha}} </td>

                        </tr>
                    {{/each}}
                </tbody>