                <tbody>
                    {{#each usuario}}
                        
                     <tr class="">
                        <th scope="row">{{id_usuario}}</th>
                        <td> {{username}} </td>
                        <td> {{nombreUsuario}} </td>
                        <td> {{apellido}} </td>
                        <td> {{nombre}} </td>
                        <td> <input class="btn btn-sm btn-secondary text-light" type="button" value="Editar">
                        <input class="btn btn-sm btn-secondary text-light" type="button" value="Eliminar">
                        </td>

                        

                        </tr>
                    {{/each}}
                </tbody>