                <tbody>
                    {{#each usuario}}
                        
                     <tr class="">
                        <th scope="row">{{id_usuario}}</th>
                        <td> {{username}} </td>
                        <td> {{nombreUsuario}} </td>
                        <td> {{apellido}} </td>
                        <td> {{area}} </td>
                        <td> 
                        <input class="btn btn-sm btn-secondary text-light" type="button" value="Editar" onclick="modalEdit({{@key}})">
                        <input class="btn btn-sm btn-secondary text-light" type="button" value="Eliminar" onclick="modalEliminar({{@key}})">
                        </td>

                        

                        </tr>
                    {{/each}}
                </tbody>