
                <tbody>
                    {{#each articulo}}
                        
                     <tr class="">
                        <th scope="row">{{id_articulo}}</th>
                        <td> {{nombre_articulo}} </td>
                        <td> {{nombre}} </td>
                        <td> {{cantidad}} </td>
                        <td> {{nombre_sector}} </td>
                        <td> {{punto_reposicion}} </td>

                        </tr>
                    {{/each}}
                </tbody>
