                <tbody>
                    {{#each pedido}}
                        
                     <tr class="">
                        
                        
                        <td> {{timeAgo fecha_peticion}} </td>
                        <td> {{nombre}} {{apellido}} </td>
                        <td> {{articulo}} </td>
                        <td> {{estado}} </td>
                    

                        </tr>
                    {{/each}}
                </tbody>
